.canvas {
  position: relative;
  max-width: 720px;
  min-width: 440px;
  box-sizing: border-box;
}

.canvas--wide {
  max-width: 1040px;
}

.canvas--full {
  width: 100%;
  max-width: none;
}

.canvas--with-top-border {
  padding-top: var(--spacing);
  border-top: 1px solid rgba(var(--color-light-blue), 0.25);
}

@media screen and (max-width: 440px) {
  .canvas {
    min-width: 320px;
  }
}
