.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--spacing);
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.header h1 {
  margin: var(--spacing);
  font-size: 1.6em;
  font-weight: bold;
}

.header h1 a {
  color: rgb(var(--color-text));
}

.header nav {
  display: flex;
}

.header nav a {
  display: inline-block;
  margin: var(--spacing) var(--spacing) var(--spacing) 0;
  font-size: 1.2em;
  font-weight: bold;
}

@media screen and (max-width: 440px) {
  .header h1 {
    font-size: 1.2em;
    line-height: 1em;
  }

  .header nav a {
    font-size: 1em;
  }
}
