@keyframes pulsate {
  0% { opacity: .5; }
  50% { opacity: 1.0; }
  100% { opacity: .5; }
}

.item {
  display: flex;
  flex-direction: column;
  padding: calc(var(--spacing) * 2) 0;
}

.item--single {
  padding-top: 0;
  padding-bottom: 0;
  border-top: none;
}

.item--skeleton {
  display: block;
}

.item.is-loading {
  pointer-events: none;
  opacity: .5;
}

.item header {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(var(--spacing) * 1.5);
}

.item header h2 {
  order: 0;
  margin-bottom: 0;
  line-height: 1.1em;
}

.item header h2 a {
  color: rgb(var(--color-text));
}

.item header h2 a:hover,
.item header h2 a:focus {
  color: rgb(var(--color-link-active));
  text-decoration: underline;
}

.item--single header h2 a {
  pointer-events: none;
  text-decoration: none;
}

.item__meta {
  order: 1;
  padding-top: calc(var(--spacing) / 3);
  color: rgb(var(--color-grey));
  font-size: .9em;
}

.item__body {
  display: flex;
  flex-direction: column-reverse;
}

.item__body--media-at-bottom {
  flex-direction: column;
}

.item__body--media-at-bottom .media__container {
  margin-top: calc(var(--spacing));
}

.item__body--media-at-bottom .item__media {
  margin-top: calc(var(--spacing));
  margin-bottom: 0;
}

.item__body > div p,
.item__body > div > ul,
.item__body > div > ol {
  margin-bottom: 1em;
}

.item__body > div ul,
.item__body > div ol {
  margin-left: var(--spacing);
}

.item__body a {
  color: rgb(var(--color-link));
  text-decoration: underline;
}

.item__body a:hover,
.item__body a:focus {
  color: rgb(var(--color-link-active));
}

.item__body > div > *:last-child {
  margin-bottom: 0;
}

.item__media {
  margin-bottom: calc(var(--spacing));
}

.item__tags {
  display: flex;
  gap: 8px;
  margin-top: calc(var(--spacing) * 2);
}

.item__tags::before {
  content: 'Posted in';
  color: rgb(var(--color-grey));
  font-size: .9em;
}

.item__actions {
  display: flex;
  margin-top: var(--spacing);
  padding: calc(var(--spacing) * 2) 0;
  list-style-type: none;
  border-top: 1px solid rgba(var(--color-beige), .125);
}

.item__actions li:not(:first-child) {
  margin-left: calc(var(--spacing) / 2);
  border-left: 1px solid rgba(var(--color-beige), .25);
}

.item__actions li button {
  padding-left: calc(var(--spacing) / 2);
}

.item__skeleton-content {
  position: relative;
  height: calc(var(--spacing) * 2);
  margin-bottom: var(--spacing);
  background-color: rgba(var(--color-grey), .15);
  border-radius: calc(var(--spacing) / 2);
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}

.item__skeleton-content--header {
  width: 85%;
  margin-bottom: calc(var(--spacing) * 3);
}

.item__skeleton-content--header::after {
  position: absolute;
  left: 0;
  bottom: calc(var(--spacing) * -2);
  display: block;
  content: '';
  width: 50%;
  height: calc(var(--spacing) * 1.5);
  background-color: rgba(var(--color-grey), .15);
  border-radius: calc(var(--spacing) / 2);
}

.item__skeleton-content--body {
  height: calc(var(--spacing) * 8);
}

@media screen and (max-width: 440px) {
  .item header h2 a {
    font-size: 1.05em;
  }

  .item__tags::before {
    font-size: .8em;
  }
}

@media screen and (min-width: 441px) {
  .item__body > div.with-media {
    width: 70%;
    padding-right: calc(var(--spacing) * 1.5);
  }

  .item header h2 a {
    font-size: 1.25em;
  }
}
