.link {
  color: rgb(var(--color-link));
  transition: var(--transition-100);
}

.link:hover,
.link:focus {
  color: rgb(var(--color-text-light));
  text-decoration: underline;
}

button.link {
  display: inline-block;
  appearance: none;
  padding: 0;
  background: none;
  font-family: 'Barlow', Arial, Helvetica, sans-serif;
  font-size: 1em;
  border: none;
}

button.link:hover,
button.link:focus {
  box-shadow: none;
}


