.log__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--spacing);
}

.log__heading {
  color: rgb(var(--color-text));
  font-size: var(--font-size-300);
  font-weight: 300;
  line-height: 1.1em;
}

.log__heading em {
  font-weight: bold;
  font-style: normal;
}

.log__button {
  position: absolute;
  right: 0;
  top: 12px;
  padding-left: calc(var(--spacing) / 2) !important;
  margin-top: 0 !important;
}

.log__button::before {
  display: inline-block;
  content: '+ ';
  width: 24px;
  height: 24px;
  margin-right: calc(var(--spacing) / 2);
  background-color: rgba(var(--color-dark-green), .25);
  border-radius: calc(var(--spacing) / 2);
  text-align: center;
}

.log__overview {
  position: relative;
}

.log__table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
}

.log__table th {
  padding: calc(var(--spacing) / 2) 0 calc(var(--spacing) / 2) var(--spacing);
  text-align: left;
  color: rgb(var(--color-text-light));
  background-color: rgb(var(--color-ui));
  font-size: var(--font-size-90);
  border-left: 1px solid rgb(var(--color-grey));
}

.log__table thead tr:first-child th {
  vertical-align: bottom;
}

.log__table thead tr:first-child th:first-child {
  border-left: none;
  border-top-left-radius: calc(var(--spacing) / 2);
}

.log__table thead tr:first-child th:last-child {
  border-top-right-radius: calc(var(--spacing) / 2);
}

.log__table th[colspan="2"] {
  padding-bottom: 0;
}

.log__table tr:last-child th {
  padding-top: 0;
}

.log__table th > span {
  margin-left: calc(var(--spacing) / 2);
  font-size: var(--font-size-70);
  opacity: .75;
}

.log__table td {
  padding: calc(var(--spacing) / 4) var(--spacing);
  font-size: var(--font-size-90);
  border-top: 1px solid rgba(var(--color-light-blue), .25);
}

.log__table tbody tr:first-child td {
  border-top: none;
}

.log__table th,
.log__table td {
  transition: var(--transition-100);
}

.log__table th[data-variant="narrow"],
.log__table td[data-variant="narrow"] {
  width: calc(var(--spacing) * 4);
}

.log__table th[data-variant="medium"],
.log__table td[data-variant="medium"] {
  width: calc(var(--spacing) * 8);
}

.log__table th[data-variant="large"],
.log__table td[data-variant="large"] {
  width: calc(var(--spacing) * 12);
}

.log__table th[data-alignment="end"],
.log__table td[data-alignment="end"] {
  text-align: right;
}

.log__table[data-variant="loading"] th,
.log__table[data-variant="loading"] td {
  pointer-events: none;
}

.log__table[data-variant="loading"] td {
  opacity: .5;
}

.log__table tbody tr[data-index="odd"] td {
  background-color: rgba(var(--color-grey), .125);
}

.log__table tbody tr:last-child td {
  border-bottom: calc(var(--spacing) / 4) solid rgb(var(--color-white));
}

.log__table td em {
  display: block;
  margin-bottom: -6px;
  font-weight: bold;
  font-style: normal;
}

.log__table td > span {
  font-size: var(--font-size-70);
  opacity: .75;
  word-spacing: calc(var(--spacing) / 4);
}

.log__table tfoot td {
  background-color: rgba(var(--color-grey), .5);
  color: rgb(var(--color-text-light));
  border: none;
}

.log__table tfoot tr:first-child td {
  padding-bottom: 0;
  color: rgb(var(--color-text));
}

.log__table tfoot tr:last-child td {
  padding-top: 0;
}

.log__table tfoot tr:last-child td:first-child {
  border-bottom-left-radius: calc(var(--spacing) / 2);
}

.log__table tfoot tr:last-child td:last-child {
  border-bottom-right-radius: calc(var(--spacing) / 2);
}

@media screen and (max-width: 440px) {
  .log__heading {
    font-size: var(--font-size-100);
  }

  .log__heading em {
    display: block;
    margin-bottom: calc(var(--spacing) / 7.5);
    font-size: var(--font-size-150);
  }

  .log__overview {
    overflow: auto;
  }

  .log__overview-wrapper {
    position: relative;
  }

  .log__overview-wrapper::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: calc(var(--spacing) * 2);
    display: block;
    content: '';
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, .075) 100%);
  }

  .log__table {
    width: 300%;
  }
}
