.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  transition: var(--transition-100);
  background-color: rgba(0, 0, 0, .25);
}

.modal.is-hidden {
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  overflow: hidden;
  opacity: 0;
}

.modal__inner {
  position: relative;
  background-color: rgb(var(--color-ui-light));
  border-radius: var(--spacing);
  box-shadow: 0px 0px var(--spacing) rgba(0, 0, 0, .15);
  transition: var(--transition-100);
}

.modal.is-hidden .modal__inner {
  opacity: 0;
}

.modal__heading {
  padding: var(--spacing) 100px var(--spacing) var(--spacing);
  border-bottom: 1px solid rgba(var(--color-light-blue), .25);
}

.modal__button {
  position: absolute;
  top: calc(var(--spacing) / 1.25);
  right: calc(var(--spacing) / 1.25);
  margin-top: 0 !important;
  padding-left: calc(var(--spacing) / 1.5) !important;
  padding-right: calc(var(--spacing) / 1.5) !important;
  height: calc(var(--spacing) * 2) !important;
  text-transform: uppercase;
  font-size: var(--font-size-90) !important;
}

.modal__form {
  padding: var(--spacing) !important;
  margin-left: var(--spacing);
  margin-right: var(--spacing);
  margin-bottom: var(--spacing);
  min-width: 400px;
}

@media screen and (max-width: 440px) {
  .modal:not(.is-hidden) .modal__inner {
    position: fixed;
    top: var(--spacing);
    right: var(--spacing);
    bottom: var(--spacing);
    left: var(--spacing);
  }

  .modal__form {
    min-width: 0px;
    margin: 0;
    border-radius: 0px !important;
    background-color: transparent !important;
  }

  .modal__form input {
    background-color: rgba(var(--color-grey), .125);
  }

  .modal__form .form__buttons {
    position: absolute;
    bottom: var(--spacing);
    left: var(--spacing);
    right: var(--spacing);
    padding-top: var(--spacing);
    background-color: rgb(var(--color-ui-light));
  }
}
