.stream {
  margin-bottom: calc(var(--spacing) * 2);
}

.stream__header {
  max-width: 75%;
  margin: 0 auto calc(var(--spacing) * 6);
  text-align: center;
}

.stream__header p {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.5em;
}

.stream__tags {
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
}

.stream__tags .tag {
  height: 32px;
  padding-left: calc(var(--spacing) / 2);
  padding-right: calc(var(--spacing) / 2);
  font-size: 1em;
  background: none;
  color: rgb(var(--color-text-emphasize));
  border-right: 1px solid rgba(var(--color-beige), .125);
  border-bottom: 1px solid rgba(var(--color-beige), .125);
  border-radius: 0;
}

.stream__tags .tag:last-child {
  border-right: none;
}

.stream__tags .tag:hover {
  text-decoration: underline;
}

.stream__tags .tag:hover,
.stream__tags .tag:focus {
  color: rgb(var(--color-text-light));
  background: none;
}

.stream__tags .tag.is-current {
  pointer-events: none;
  text-shadow: none;
  font-weight: bold;
  color: rgb(var(--color-text-light));
  border-bottom: 1px solid rgb(var(--color-beige));
}
