.stream {
  margin-bottom: calc(var(--spacing) * 2);
}

.stream__header {
  max-width: 75%;
  margin: 0 auto calc(var(--spacing) * 6);
  text-align: center;
}

.stream__header p {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.5em;
}

.stream__tags {
  display: flex;
  gap: 8px;
  padding-bottom: calc(var(--spacing) * 2);
}

.stream__tags .tag {
  height: 32px;
  padding-left: calc(var(--spacing) / 2);
  padding-right: calc(var(--spacing) / 2);
  font-size: 1em;
}

.stream__tags .tag.is-current {
  color: rgb(var(--color-blue));
  background-color: rgb(var(--color-beige));
  pointer-events: none;
  text-shadow: none;
}
