.field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing);
}

.field label {
  margin-bottom: calc(var(--spacing) / 2);
}

.field__inner {
  display: flex;
  width: 100%;
}

.field__inner aside {
  width: 75%;
  margin-left: var(--spacing);
}

.field__radio-item {
  display: flex;
  margin-right: calc(var(--spacing) / 2);
  align-items: baseline;
}

.field__radio-item > label {
  display: block;
  padding-left: calc(var(--spacing) / 4);
}

.field__radio-item > input,
.field__radio-item > label {
  cursor: pointer;
}
