.segmented-control {
  display: table;
  clear: both;
  text-align: left;
}

.segmented-control--inline {
  width: auto;
  display: flex;
  align-items: center;
}

.segmented-control__label-box {
  display: block;
  margin-bottom: var(--spacing);
  clear: both;
}

.segmented-control--inline .segmented-control__label-box {
  display: flex;
  height: 100%;
  align-items: center;
  margin-bottom: 0;
  padding-right: 15px;
  white-space: nowrap;
}

.segmented-control__label {
  display: block;
  color: rgb(var(--color-text));
  opacity: 0.4;
  font-size: var(----font-size-80);
}

.segmented-control__items {
  display: flex;
}

.segmented-control--fixed-width .segmented-control__items {
  white-space: nowrap;
}

.segmented-control__item {
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(var(--color-light-blue), 0.25);
  background-color: transparent;
  background-image: none;
  white-space: nowrap;
  border-right-width: 0;
}

.segmented-control__item:focus-visible {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.segmented-control__item:first-child {
  border-top-left-radius: calc(var(--spacing) / 4);
  border-bottom-left-radius: calc(var(--spacing) / 4);
}

.segmented-control__item:last-child {
  border-top-right-radius: calc(var(--spacing) / 4);
  border-bottom-right-radius: calc(var(--spacing) / 4);
  border-right-width: 1px;
}

.segmented-control__item.is-selected {
  border-color: rgb(vaR(--color-primary));
}

.segmented-control__input {
  position: absolute;
  z-index: -100;
  opacity: 0;
  top: 0;
  left: 0;
}

.segmented-control__input-label {
  display: block;
  padding-top: calc(var(--spacing) / 4);
  padding-right: var(--spacing);
  padding-bottom: calc(var(--spacing) / 4);
  padding-left: var(--spacing);
  background-color: rgba(var(--color-grey), 0.125);
  color: rgb(var(--color-text));
  font-size: var(--font-size-80);
  line-height: 22px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.segmented-control__input:focus ~ .segmented-control__input-label {
  box-shadow: inset 0 0 2px rgb(var(--color-primary));
}

.segmented-control__input:checked ~ .segmented-control__input-label {
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-text-light));
  cursor: default;
  pointer-events: none;
}
