:root {
  --color-background-tag: var(--color-grey);
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  padding: 2px 8px 3px;
  font-size: 1em;
  color: rgb(var(--color-text-light));
  background-color: rgb(var(--color-background-tag));
  border-radius: calc(var(--spacing) / 4);
}

.tag:hover,
.tag:focus {
  background-color: rgb(var(--color-green));
}
