body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  padding: 0;
  margin: 0;
}

li > ol,
li > ul {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

button,
[role=button] {
  cursor: pointer;
}

abbr {
  cursor: help;
}

abbr:not(:hover) {
  text-decoration: none;
}

body {
  background-color: rgb(var(--color-ui-light));
  color: rgb(72, 72, 72);
  font-family: 'Space Grotesk', Helvetica, Arial, sans-serif;
  font-size: var(--font-size-100);
  letter-spacing: -1px;
  line-height: 1.4em;
}


@media screen and (max-width: 440px) {
  body {
    font-size: var(--font-size-90);
  }
}
